<script src='/js/input.js'></script>
<header class='w3-center'>
<h5 class='w3-text-blue'><b>성적입력</b></h5>
</header>
<form>
<section>
	<label><b>학번</b></label>
	<input type='number' id='strNum' name='strNum'>
	
	<label><b>이름</b></label>
	<input type='text' id='strName' name='strName'>
</section>
<section>
	<label><b>국어</b></label>
	<input type='number' id='intKor' name='intKor'>
	
	<label><b>영어</b></label>
	<input type='number' id='intEng' name='intEng'>

	<label><b>수학</b></label>
	<input type='nuber' id='intMath' name='intMath'>
</section>

<section>
	<label><b>총점</b></label>
	<input type='number' id='intTotal' name='intTotal'>
	
	<label><b>평균</b></label>
	<input type='number' id='intAvg' name='intAvg'>
</section>

<section class='w3-right'>
	<button type='button' id='listBtn' class='w3-button w3-yellow'>리스트</button>
	<button type='button' id='newBtn' class='w3-button w3-green'>새로작성</button>
	<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
	<button type='button' id='deleteBtn' class='w3-button w3-red'>삭제</button>
	<input type='hidden' id='id' name='id'>
</section>
</form>