<!DOCTYPE html>
<html>
<head>
<% include header.ejs %>
</head>
<body class='w3-light-gray w3-margin'>
	<header class='w3-container w3-blue w3-margin'>
		<h3 class='w3-margin'>로그인 연습</h3>
		<h5 class='w3-margin'>
			<% if(isAdmin) { %> 관리자님 방문을 환영합니다
			<% } else { %> <%- strEmail %> 님 방문을 환영합니다 <% } %> 
		</h5>
	</header>
	<article class='w3-container w3-white w3-margin'>
		<section class='w3-col m5 l5 s5 w3-white'>
		<% include member_join.ejs %>
		</section>
		
		<section id='listbody' class='w3-col m6 s6 l6 w3-white w3-right'>
		</section>
	</article>
</body>
</html>
