<!DOCTYPE html>
<html>
<head>
<% include header.ejs %>
<style>
/* article */
#loginbox {
	/* static relative absolute */
	position : relative;
}

#loginbox #loginbody {
  background-color:#FEF3EA;
  border:1px solid #C07C40;
  position:absolute;
  border-radius : 6px;
  padding: 8px;
  z-index:1;
}

</style>
<script>
$(document).ready(function(){

	$('section').addClass('w3-margin')
	$('label').addClass('w3-text-blue')
	$('input').addClass('w3-input w3-border w3-hover-light-gray')

	var boxSize = function(){
		$('#loginbody').css('width',$(window).width()/2 );
		$('#loginbody').css('height',$(window).height()/2);
		
		$('#loginbox').css('top',$('#loginbody').height()/2);
		$('#loginbox').css('left',$('#loginbody').width()/2);
	}
	
	boxSize()
	$(window).resize(function(){
		boxSize()
	})
})
</script>
</head>
<body class='w3-light-gray w3-margin'>
	<article id='loginbox'>
		<section id='loginbody'>
			<h3 class='w3-blue'>로그인</h3>
			<h4 class='w3-red'><%- msg %></h4>
			<form action='/login' method='post'>
				<section>
					<label><b>이메일</b></label>
					<input type='email' id='strEmail' name='strEmail'>
					<label><b>비밀번호</b></label>
					<input type='password' id='strPassword' name='strPassword'>
				</section>
				<section class='w3-right'>
					<button type='submit' id='loginBtn' class='w3-button w3-blue'>
					로그인
					</button>
				</section>
			</form>
		</section>
	</article>
</body>
</html>
