<script src='/js/join.js'></script>
<h3 class='w3-text-blue w3-margin'>회원 등록</h3>
<form>
	<section>
		<label><b>이메일</b></label>
		<input type='email' required autocomplete='email' id='strEmail' name='strEmail'>
	</section>
	<section>
		<label><b>비밀번호</b></label>
		<input type='password' id='strPassword' name='strPassword'>
	</section>
	<section>
		<label><b>비밀번호 확인</b></label>
		<input type='password' id='strPassword1'>
	</section>
	<section class='w3-right'>
	<button type='button' id='saveBtn' class='w3-blue'>저장</button>
	</section>
</form>