<!DOCTYPE html>
<html>
<head><% include header.ejs // 헤더파일 열기  %>
<script src='/js/input.js'></script>
<style>
#view-list {
	overflow:auto; /* visible, hidden, scroll, auto */
	height:500px;

}
</style>
</head>
<body class='w3-light-gray'>
<header class='w3-container w3-white'>
	<h3>학사 정보 관리</h3>
</header>
<article class='w3-container'>
	<section class='w3-col m5 l5 s5 w3-white w3-margin w3-padding-16'>
	<% include input_form.ejs %>
	</section>

	<section id='view-list' class='w3-white w3-right w3-col m6 s6 l6 w3-margin w3-padding-16'>
	</section>
</article>
</body>
</html>
