<form>
<input type='hidden' name='id' id='id'>
<p>
<label class='w3-text-blue'><b>학번</b></label>
<input class='w3-input w3-border  w3-hover-green' type='number' name='strNum' id='strNum'>

<p>
<label class='w3-text-blue'><b>이름</b></label>
<input class='w3-input w3-border w3-hover-green' type='text' name='strName' id='strName'>

<p>
<label class='w3-text-blue'><b>학년</b></label>
<input class='w3-input w3-border w3-hover-green' type='number' name='intGrade' id='intGrade'>

<p>
<label class='w3-text-blue'><b>전화번호</b></label>
<input class='w3-input w3-border w3-hover-green' type='tel' name='strTel' id='strTel'>

<p class='w3-right'>

<button type='button' id='listBtn' class='w3-button w3-yellow'>리스트</button>
<button type='button' id='newBtn' class='w3-button w3-blue'>새로작성</button>
<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
<button type='button' id='deleteBtn' class='w3-button w3-red'>삭제</button>
</p>
</form>