<h4 id='station_name'>버스 도착 정보</h4>
<table class='w3-table w3-border w3-hoverable'>

	<tr>
		<th>노선번호</th>
		<th>현재위치</th>
		<th>도착예정</th>
		<th>남은정류장</th>
	</tr>
	
	<% list.forEach(function(item){ %>
		<tr>
			<td><%- item.LINE_NAME %></td>
			<td><%- item.BUSSTOP_NAME %></td>
			<td><%- item.REMAIN_MIN %>분</td>
			<td><%- item.REMAIN_STOP %>전</td>
		</tr>
	<% }) %>

</table>