<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML5 JQuery 연습</title>

<link rel="stylesheet" href="/stylesheets/html5.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/html5.js"></script>

</head>
<body>
<header>
	<p id="header">HTML5와 JQuery 연습</p>
</header>
<nav>
	<ul>
		<li><a href="/jquery">JQuery Sample</a></li>
		<li><a href="http://www.naver.com/" target="myPane">네이버 가기</a></li>
		<li><a href="https://www.google.co.kr/" target="myPane">구글 바로가기</a></li>
	</ul>
</nav>
<article>

	<!-- HTML코드내에서의 주석(commnet) -->
	<section id="sec1">
		<p>하늘을 우러러 한점 부끄럼이 없기를
		<p>잎새에 이는 바람에도 나는 괴워어 했다.
		<p>
	</section>

	<section id="sec2">
		<p>이몸이 죽고 죽어 일백번 고쳐 죽어
		<p>백골이 진토되어 넋이라도 있고 없고
		<p>임 향한 일편단심 가실줄이 있으랴
	</section>
	
	<section id="sec3">
		<p>나보기가 역겨워 떠나실때는
		<p>말 없이 고이 보내 드리오리다
	</section>
	
	<section id="secbtn">
		<button id="btn1">1번</button>
		<button id="btn2">2번</button>
		<button id="btn3">3번</button>
	</section>

</article>
<footer>
	<p>copyright callor@callor.com</p>
</footer>
</body>
</html>