<!DOCTYPE html>
<html>
<head><% include header.ejs %>
</head>
<body>
	<% include nav.ejs %>
	<header class="w3-container w3-blue  w3-margin">
		<h3>학생 리스트 보기</h3>
	</header>
	<hr />
	<header class="w3-contailner w3-margin">
		<input type="text"
			class="w3-input w3-border w3-round-xxlarge w3-hover-light-gray"
			placeholder="학생이름을 입력한 후 Enter를...">
		<button class="w3-button w3-block w3-round-xxlarge w3-orange">검색</button>
	</header>
	<% include list_body.ejs %>
</body>
</html>