<!DOCTYPE html>
<html>
<head>
<% include  header.ejs %>
<script>
$(document).ready(function(){
	$('input').addClass('w3-input w3-border w3-hover-light-gray')
	$('textarea').addClass('w3-input  w3-border w3-hover-light-gray')
	$('label').addClass('w3-text-blue')
	
	$('#saveBtn').click(function(){
		
		if($('#strTitle').val() == ''){
			alert('제목을 입력하세요')
			$('#strTitle').focus()
			return false;
		}
		
		if($('#strText').val() == ''){
			alert('사진 설명을 입력하세요')
			$('#strText').focus()
			return false;
		}
		
		if($('#photoName').val() == ''){
			alert('사진을 선택하세요 ')
			return false;
		}
		
		// 서버로 전송
		$('form').submit();
		
	})
})

</script>
</head>
<body class='w3-container w3-margin w3-light-gray'>
<% include pageTitle.ejs %>
<article>
	
	<h3 class='w3-text-blue'>사진올리기</h3>
	<section class='w3-container'>
		<!-- 파일 업로드를 위해서 enctype을 반드시 작성해야 한다. -->
		<form action='/upload' method='post' enctype='multipart/form-data'>
			<section>
			<label><b>사진제목</b></label>
			<input type='text' id='strTitle' name='strTitle'>
			</section>
			
			<section>
			<label><b>사진설명</b></label>
			<textarea name='strText' id='strText' rows='5'></textarea>
			</section>
	
			<section>
			<input type='file' name='photoName' id='photoName'>
			</section>
			
			<section>
			<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
			</section>	
		</form>
	</section>
</article>
</body>