<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>회원가입</h2>
	<form action='/insert' method='post'>
	<table>
		<tr>
			<th>이름</th>
			<td><input type='text' name='strName'></td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td><input type='text' name='strTel'></td>
		</tr>
		<tr>
			<th>나이</th>
			<td><input type='text' name='intAge'></td>
		</tr>
		<tr>
			<th></th>
			<td><input type='submit'></td>
	</table>
	
	</form>
</body>
</html>