<meta charset="UTF-8" />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<title>도서 정보 관리</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='/js/bookManager.js'></script>