<form>
<input type='hidden' name='id' id='id'>

<p>
<label>도서명</label>
<input type='text' name='strTitle' id='strTitle' class='w3-input'>

<p>
<label>출판사</label>
<input type='text' name='strComp' id='strComp' class='w3-input'>

<p>
<label>장르</label>
<input type='text' name='strGenre' id='strGenre' class='w3-input'>

<p>
<label>가격</label>
<input type='text' name='intPrice' id='intPrice' class='w3-input'>

<p class='w3-right'>
<button type='button' id='newBtn' class='w3-button w3-green'>새로등록</button>
<button type='button' id='listBtn' class='w3-button w3-yellow'>리스트</button>
<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
<button type='button' id='deleteBtn' class='w3-button w3-red'>삭제</button>
</form>
</p>